.background {
    -fx-background-color: derive(-large-theme, -5%);
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -large-theme;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -opp-font-color;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -opp-font-color;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: -large-theme;
    -fx-control-inner-background: -large-theme;
    -fx-background-color: -large-theme;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -opp-font-color;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(-large-theme, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(-large-theme, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(-large-theme, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: -color-card-even;
}

.list-cell:filled:odd {
    -fx-background-color: -color-card-odd;
}

.list-cell:filled:selected {
    -fx-background-color: -color-card-selected;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: -color-card-selected;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: -opp-font-color;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: -large-theme;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: -large-theme;
}

.stack-pane {
     -fx-background-color: derive(-large-theme, 20%);
}

.pane-with-border {
     -fx-background-color: derive(-large-theme, 20%);
     -fx-border-color: derive(-large-theme, 10%);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(-large-theme, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -opp-font-color;
}

.result-display .label {
    -fx-text-fill: derive(-large-theme, -5%) !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -opp-font-color;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(-large-theme, 30%);
    -fx-border-color: derive(-large-theme, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -opp-font-color;
}

.grid-pane {
    -fx-background-color: derive(-large-theme, 30%);
    -fx-border-color: derive(-large-theme, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(-large-theme, 30%);
}

.context-menu {
    -fx-background-color: derive(-large-theme, 50%);
}

.context-menu .label {
    -fx-text-fill: -opp-font-color;
}

.menu-bar {
    -fx-background-color: derive(-large-theme, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -opp-font-color;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: derive(-large-theme, -5%);
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: -opp-font-color;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: derive(-large-theme, -5%);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: -opp-font-color;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: -opp-font-color;
  -fx-text-fill: -large-theme;
}

.button:focused {
    -fx-border-color: -opp-font-color, -opp-font-color;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -large-theme;
    -fx-text-fill: -opp-font-color;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -opp-font-color;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: -large-theme;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: -large-theme;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -opp-font-color;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(-large-theme, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -opp-font-color;
    -fx-text-fill: -opp-font-color;
}

.scroll-bar {
    -fx-background-color: derive(-large-theme, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(-large-theme, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent -large-theme transparent -large-theme;
    -fx-background-insets: 0;
    -fx-border-color: -large-theme -large-theme -opp-font-color -large-theme;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -opp-font-color;
}

#promptTextField {
    -fx-background-color: transparent -large-theme transparent -large-theme;
    -fx-background-insets: 0;
    -fx-border-color: -large-theme -large-theme -opp-font-color -large-theme;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -opp-font-color;
}



#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, derive(-large-theme, -5%), 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, -large-theme, transparent, -large-theme;
    -fx-background-radius: 0;
}

#subjects {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#subjects .label {
    -fx-text-fill: -opp-font-color;
    -fx-background-color: -color-tag;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#subjects .finished {
    -fx-text-fill: -opp-font-color;
    -fx-background-color: -color-tag-finish;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
