* {
    -large-theme:white;
    -color-card-odd: #eeeeee;
    -color-card-even: #dddddd;
    -color-card-selected: #cccccc;
    -color-tag: #add8e6;
    -color-tag-finish: #ff474c;
    -opp-font-color: black;
}
