* {
    -large-theme:#ffc8dd;
    -color-card-odd: #ffd3e4;
    -color-card-even: #ffe7f0;
    -color-card-selected: rgb(163, 217, 247);
    -color-tag: #e99ab8;
    -color-tag-finish: #d099e2;
    -opp-font-color: black;
}
