* {
    -large-theme:#1d1d1d;
    -color-card-odd: #515658;
    -color-card-even: #3c3e3f;
    -color-card-selected: #424d5f;
    -color-tag: #3e7b91;
    -color-tag-finish: darkred;
    -opp-font-color: white;
}
