* {
    -large-theme:white;
    -color-card-odd: #eeeeee;
    -color-card-even: #dddddd;
    -color-card-selected: #cccccc;
    -color-tag: #3e7b91;
    -color-tag-finish: red;
    -opp-font-color: black;
}
